{% extends 'layout.html' %}
{% block content %}
    <p>欢迎登陆:{{ request.session.userinfo.username }}</p>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>detail</th>
            <th>status</th>
            <th>处理</th>

        </tr>
        </thead>
        <tbody>
        {% for i in obj %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.detail }}</td>
                <td>{{ i.status }}</td>
                <td><a href="/troublekill.html?md=POST&nid={{ i.id }}">处理</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}